**.prefs
**.class
settings.json
.classpath
.project
Day2/book-service/.gitattributes
Day2/book-service/mvnw.cmd
Day2/book-service/mvnw
Day2/.idea/vcs.xml
Day2/.idea/misc.xml
Day1/.classpath
Day1/.project
Day2/.idea/.gitignore
Day1/.classpath
Day3/rest-client/mvnw.cmd
Day3/rest-client/.mvn/wrapper/maven-wrapper.properties
Day3/rest-client/mvnw
Day3/rest-client/.gitattributes
Day3/library-service/mvnw
Day3/library-service/mvnw.cmd
Day3/library-service/.mvn/wrapper/maven-wrapper.properties
Day3/library-service/.gitattributes
Day3/eureka-server/.gitattributes
Day3/eureka-server/.mvn/wrapper/maven-wrapper.properties
Day3/eureka-server/mvnw
Day3/eureka-server/mvnw.cmd

@ -0,0 +1,33 @@
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Day4/api-gateway/.gitattributes
Day4/api-gateway/.mvn/wrapper/maven-wrapper.properties
Day4/api-gateway/mvnw
Day4/api-gateway/mvnw.cmd
Day4/rest-client/.gitattributes
Day4/rest-client/.mvn/wrapper/maven-wrapper.properties
Day4/rest-client/mvnw
Day4/rest-client/mvnw.cmd
