**.prefs
**.class
settings.json
.classpath
.project
Day2/book-service/.gitattributes
Day2/book-service/mvnw.cmd
Day2/book-service/mvnw
Day2/.idea/vcs.xml
Day2/.idea/misc.xml
Day1/.classpath
Day1/.project
Day2/.idea/.gitignore
Day1/.classpath
Day3/rest-client/mvnw.cmd
Day3/rest-client/.mvn/wrapper/maven-wrapper.properties
Day3/rest-client/mvnw
Day3/rest-client/.gitattributes
Day3/library-service/mvnw
Day3/library-service/mvnw.cmd
Day3/library-service/.mvn/wrapper/maven-wrapper.properties
Day3/library-service/.gitattributes
